<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{discussionData.title}}</title>
    <title>Home</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<style>
    div.heading{
        padding-left: 1.4em;
    }
    .content{
        padding-left: 1.8em;
    }
    .comments{
        padding-left: 1.5em;
    }
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">Meow</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/home/">Home</a></li>
      <li class="active"><a href="/home/discussions">Discussions</a></li>
      <li><a href="/home/questions">Questions</a></li>
      <li><a href="/home/announcements">Announcements</a></li>
      <li><a href="/home/profile/">Profile</a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="heading">
<h3><strong>
    {{discussionData.title}}
</strong></h3>
<h4 class="content">
    {{discussionData.content}}
</h4>
<h5>
    - by {{discussionData.author}} on {{discussionData.date}}
</h5><br>
</div>
<div style="overflow-y: scroll; height: 400px;" class="comments"><hr>
{% for comment in comments %}
    <p class="comment">{{comment.content}}</p>
<strong>
    <p class="author">- {{comment.author.username}}</p>
    <hr>
</strong>
{% endfor %}
<form action="postComment/" method="POST">
    {% csrf_token %}
    <input type="text" name="comment"/>
    <input type="submit"/>
</form>
</div>
</body>
</html>